body {
	background-color: #dee2e6;
}

#app {
	width: /*98%*/ 76.1875em;
	margin-left: auto;
	margin-right: auto;
	font-family: arial, sans-serif;
}

#filterTextEntry {
	margin: 0.1875em;
	width: 20%;
	padding: 3px;
	background-color: #f8f9fa;
	border: 1px solid #767676;
	border-radius: 2px;
	min-width: 20ch;
}

#filterTextEntry:hover {
	border: 1px solid #434343;
}

#filterButton {
	margin: 0.1875em;
	padding: 0.1875em 0.3125em;
	cursor: pointer;
}

#filterButton:hover {
	filter: brightness(0.95);
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	/*border: 1px solid #dddddd;*/
	text-align: left;
	padding: 0.5em;
	border: 1px solid #dee2e6;
}

.tableRow {
	background-color: #adb5bd;
	vertical-align: top;
	border: 1px solid #adb5bd;
}

.headerRow {
	background-color: #868e96;
	color: #F1F3F5;
	/*border: 1px solid #868e96;*/
	position: sticky;
	top: -1px;
}

.hidden {
	display: none;
}

.sortableHeader {
	cursor: pointer;
}

.titleColumn {
	width: 25%;
	min-width: 7ch;
}

.nameColumn {
	width: 23%;
	min-width: 16ch;
}

.sourceColumn {
	width: 20%;
	min-width: 14ch;
}

.albumColumn {
	width: 20%;
	min-width: 7ch;
}

.infoColumn {
	width: 12%;
	min-width: 15ch;
}

tr:nth-child(even) {
	background-color: #CFD4DA;
	vertical-align: top;
	/*color: #d2d3d3;*/
	/*border: 1px solid #CFD4DA;*/
}

.triangle{
	visibility: hidden;
	display: inline;
}

#songTitleTriangle{
	visibility: visible;
}

.notesHider{
	text-decoration: underline;
	cursor: pointer;
	text-decoration-style: dotted;
	text-decoration-thickness: 1px;
}

#decPageNumButton, #firstPageButton {
	visibility: hidden;
}

.tableNavButton {
	cursor: pointer;
	/*border-width: 2px;
	border-style: solid;
	border-color: transparent;*/
	border-width: 0px;
	background-color: transparent;
	font-weight: 600;
	padding-top: 0.3125em;
	padding-bottom: 0.125em;
	width: 4ch;
}

#pageIndicator {
	padding-top: 0.125em;
	padding-bottom: 0.125em;
	padding-left: 0.3125em;
	padding-right: 0.3125em;
}

.pageIndicator {
	cursor: pointer;
}

.tableNavButton:hover, .pageIndicator:hover {
	background-color: #cccccc;
	/*border-color: #eeeeee;*/
}

/*#incPageNumButton {
	float: right;
	display: inline;
}*/

#tableNavBar {
	text-align: center;
	margin-top: 0.9375em;
}

a:link {
	color: #1d13d1;
}

.currentPageNum, .maxNumPages {
	font-weight: 550;
}

.pageDivider {
	font-weight: 400;
}

#jumpPageEntry {
	width: 12ch;
	display: none;
	text-align: center;
	font-weight: 500;
}

#resultsPerPageBar {
	float: right;
	padding-top: 0.5em;
	padding-bottom: 0.3125em;
	/*font-size: 14px;*/
	font-size: 0.875em;
}

.unselectedResultsPerPage {
	text-decoration: none;
	cursor: pointer;
	/*margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;*/
	padding: 5px;
}

.unselectedResultsPerPage:hover {
	background-color: #bbbbbb;
}

.selectedResultsPerPage {
	text-decoration: underline;
	cursor: pointer;
	text-decoration-style: solid;
	text-decoration-thickness: 1px;
	background-color: #cccccc;
	/*margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;*/
	padding: 0.3125em;
}

.footerIcon {
	vertical-align: middle;
	padding: 0.3125em;
}

.footerRow {
	padding-left: 0.3125em;
	padding-right: 0.3125em;
}

.twitchFooterRow {
	padding-top: 0.78125em;
	padding-bottom: 0.78125em;
}

.youtubeFooterRow {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.twitterFooterRow {
	padding-top: 0.4375em;
	padding-bottom: 0.4375em;
}

.footerRow:hover {
	background-color: white;
}
