body {
	background-color: #dee2e6;
}

#app {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	font-family: arial, sans-serif;
}

input {
	margin: 5px;
	width: 20%;
}

table {
	border-collapse: collapse;
}

td, th {
	/*border: 1px solid #dddddd;*/
	text-align: left;
	padding: 8px;
	border: 1px solid #dee2e6;
}

.tableRow {
	background-color: #adb5bd;
	vertical-align: top;
	border: 1px solid #adb5bd;
}

.headerRow {
	background-color: #868e96;
	color: #F1F3F5;
	/*border: 1px solid #868e96;*/
}

.hidden {
	display: none;
}

.sortableHeader {
	cursor: pointer;
}

tr:nth-child(even) {
	background-color: #CFD4DA;
	vertical-align: top;
	/*color: #d2d3d3;*/
	/*border: 1px solid #CFD4DA;*/
}

.triangle{
	visibility: hidden;
	display: inline;
}

#songTitleTriangle{
	visibility: visible;
}

.notesHider{
	text-decoration: underline;
	cursor: pointer;
	text-decoration-style: dotted;
	text-decoration-thickness: 1px;
}
